@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

header{
    position: sticky;
    top: 0%;
    z-index: 1;
}

.navbar-upper{
    width: 100%;
    background: linear-gradient(to left, #0575e6, #021b79);
    display: flex;
    color: white;
    justify-content: center;
    justify-content: space-around;
    /* align-items: center; */
    padding: 1rem;
    z-index: 100;
}

.nav-logo{
    width: 20%;
}

#logo{
    width: 13rem;
    height: 3.5rem;
    border-radius: 20px;
}

.list
{
    display: flex;
    list-style: none;
    line-height: 4rem;
}

.list li a{
    text-decoration: none;
    color: white;
    padding: 0px 15px;
    font-size: 1.4rem;
    transition: all 1s;
}

.list li a:hover{
    color: rgb(255, 132, 0);
    text-decoration: underline;
    font-size: 1.38rem;
    text-shadow: 5px 5px 3px rgb(255, 100, 0);
}

.Checked,#check{
    display: none;
}

.nav-logo p{
    font-size: 0.8rem;
}
.navbar-lower{
    display: flex;
    justify-content: space-around;
    padding: 0.8rem 0 0 0;
    background-color: rgba(255, 255, 255, 0.9);
    
    border-bottom: 1px solid black;
}

.navbar-lower .news-type{
    margin-left: 6rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem;
    word-spacing: 0.15rem;
    letter-spacing: 0.15rem;
    color:peru;
}

button[type="submit"]{
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.4rem;
    font-weight: 400;
    transition: 0.5s;
}

button[type="submit"]:hover{
    color: white;
    background-color: rgb(91, 222, 58);
}

.partition {
    display: flex;
    justify-content: center;
}

.hr {
    width: 90%; 
    height: 5px;
    background-color: navy;
}

main{
    margin: 1rem;
}

section{
    display: flex;
    padding: 1.5rem;
}

.news-info{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

img{
    width: 12rem;
    height: 12rem;
    transition: 0.4s;
}

img:hover{
    border-radius: 20px;
}

.headline{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    font-family :'Times New Roman', Times, serif;
    word-spacing: 0.2rem;
    transition: 0.3s;
}

.headline:hover{
    color: rgb(59, 62, 228);
    text-decoration: underline;
}

section div p:last-of-type {
    text-align: justify;
}

section a:last-child{
    width: max-content;
}

a button{
    background-color: rgb(34, 244, 19);
    border: 2px solid black;
    border-radius: 8px;
    font-weight: 700;
    padding: 0.4rem;
    transition: 0.5s;
}

a button:hover{
    background-color: rgb(255, 132, 0);
    color: white;
    border-radius: 0px;
}

footer{
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.footer-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0 2rem;
}

.social-icon{
    text-align: center;
    margin: 0 0 2rem;
}

.social-icon .icons a{
    font-size: 2.5rem;
    padding: 0 3rem 0;
    color: purple;
    text-shadow: 2px 2px 2px white;
    transition: 0.9s;
}

.social-icon .icons a:hover{
    color: white;
}

.social-icon > h3{
    font-size: 2rem;
    font-family: "Mukta", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    text-shadow: 4px 3px 2px purple;
    word-spacing: 0.3rem;
    letter-spacing: 0.3rem;
}

.foot-nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.foot-nav ul li{
    list-style: none;
    padding-bottom: 0.5rem;
}

.foot-nav a{
    color: white;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: 0.8s;
}

.foot-nav a:hover{
    color: purple;
    text-decoration: underline;
}

.footer-copy{
    color: purple;
    word-spacing: 0.4rem;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Media Query To make webpage responsive */

@media screen and (max-width : 850px) {
    .list li a{
        /* padding: 0px 5px; */
        font-size: 1.1rem;
    }

    #logo{
        width: 10rem;
        height: 3.5rem;
        border-radius: 20px;
    }
}


@media screen and (max-width: 750px){

    .nav-logo{
        width: 50%;
    }

    .grid-container{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 0.7fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .grid-item:nth-child(2) {
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    .grid-item:nth-child(1),
        .grid-item:nth-child(3) {
            grid-row: 2;
            grid-column: auto;
        }

        .navbar-lower .news-type{
            margin-left: 0rem;
            font-weight: 600;
            font-size: 1.5rem;
        }

    .navbar-lower{
        padding: 0;
    }

    section{
        flex-direction: column;
    }

    figure{
        display: flex;
        justify-content: center;
    }

    figure img{
        width: 20rem;
    }

    section a{
        text-align: center;
    }

    .list{
        height: 100vh;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: #0575e6;
        top: 95px;
        left: 99%;
        padding-top: 2rem;
        transition: all 1s;
        z-index: 1;
    }    

    .list li a{
        font-size: 1.2rem;
    }

    .Checked
    {
        display: block;
        line-height: 4rem;
        font-size: 1.5rem;
    }

    #check:checked~ul{
        left: 75%;
    }

    .social-icon .icons a{
        font-size: 1.8rem;
        padding: 0 0.5rem 0;
    }

    .social-icon > h3{
        font-size: 1.4rem;
        word-spacing: 0.3rem;
        letter-spacing: 0.3rem;
    }

    .footer-copy{
        word-spacing: 0;
    }

    .foot-nav{
        width: 100%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 430px) {
    .grid-container{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 0rem;
    }

    .grid-item.grid-item:nth-child(1){
        grid-row: 1;
    }

    .grid-item.grid-item:nth-child(2){
        grid-row: 2;
    }

    .grid-item.grid-item:nth-child(3){
        grid-row: 3;
    }

    .list{
        height: 100vh;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: #0575e6;
        top: 95px;
        left: 99%;
        transition: all 1s;
    }    

    .Checked
    {
        display: block;
        line-height: 4rem;
    }

    #check:checked~ul{
        left: 70%;
    }

    .social-icon > h3{
        font-size: 1rem;
        word-spacing: 0.3rem;
        letter-spacing: 0.3rem;
    }

    .footer-container{
        width: 90%;
    }
}

@media (min-width:750px) and (max-width:1000px) {
    .social-icon .icons a{
        padding: 0 1.5rem 0;
    }
}